html,
body {
  height: auto;
  width: 24rem;
  margin: 0;
  font-family: 'Roboto', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
    'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--color-background);
}

body * {
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --color-background: #ffffff;
  --color-foreground: #f6f8fa;
  --color-approval: #0088ff;
  --color-denial: #ac5e00;
  --color-text: #161b22;
  --color-button-text: #ffffff;
  --color-header: #24292f;
}

html[data-theme='light'] {
  --color-background: #ffffff;
  --color-foreground: #f6f8fa;
  --color-approval: #0088ff;
  --color-denial: #ac5e00;
  --color-text: #161b22;
  --color-button-text: #ffffff;
  --color-panel: #f6f8fa;
}

html[data-theme='dark'] {
  --color-background: #161b22;
  --color-foreground: #484f58;
  --color-approval: #1d69e0;
  --color-denial: #c38000;
  --color-text: #ffffff;
  --color-button-text: #ffffff;
  --color-panel: #24292f;
}
